<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>POJAY - URL 단축 서비스</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
    <!-- Bootstrap Icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic"
          rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <!-- SimpleLightbox plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet"/>
</head>
<body id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#page-top">
            <!--                    <img src="assets/favicon.ico" alt="POJAY Icon">-->
            POJAY
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto my-2 my-lg-0">
                <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                <li class="nav-item"><a class="nav-link" href="#services">Services</a></li>
                <li class="nav-item"><a class="nav-link" href="#portfolio">Portfolio</a></li>
                <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Masthead-->
<header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-white font-weight-bold">무료로 URL 단축 서비스를<br/>사용해보세요!</h1>
                <hr class="divider"/>
            </div>
            <div class="col-lg-8 align-self-baseline">
                <form id="urlForm">
                    <div style="display: flex; align-items: center;">
                        <input class="form-control noto-sans" type="url" id="url" name="url" placeholder="줄이고 싶은 URL" required>
                        <input type="button" class="btn btn-primary btn-md" value="Shorten URL" onclick="submitUrlForm()">
                    </div>
                    <div id="invalidFeedback" class="invalid-feedback">유효한 URL을 입력해주세요.</div>
                </form>
                <div id="result"></div>
            </div>
        </div>
    </div>
</header>
<!-- About-->
<section class="page-section bg-primary" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">긴 URL, 더 이상 걱정 마세요!</h2>
                <hr class="divider divider-light"/>
                <p class="text-white-75 mb-4">쉽고 빠르게 URL을 단축하세요. 우리의 서비스를 이용해 짧고 간편한 URL을 생성하고 공유하세요!<br>
                    로그인할 필요 없이, 몇 초 만에 긴 링크를 깔끔하게 정리하세요.</p>
                <a class="btn btn-light btn-xl" href="#">Get Started!</a>
            </div>
        </div>
    </div>
</section>
<!-- Services-->
<section class="page-section" id="services">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0 merriweather-sans">POJAY Service</h2>
        <hr class="divider"/>
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">편리한 링크 단축</h3>
                    <p class="text-muted mb-0">URL을 간단하고 기억하기 쉽게 줄여드립니다. 복잡한 링크를 간편하게 공유하세요!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">빠른 속도</h3>
                    <p class="text-muted mb-0">우리의 서비스는 빠르고 효율적입니다. 원클릭으로 즉시 짧은 URL을 만들어보세요.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">안정적인 성능</h3>
                    <p class="text-muted mb-0">최신 기술을 활용하여 안정적인 성능을 제공합니다. 안심하고 사용하세요!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">쉽고 직관적인 사용</h3>
                    <p class="text-muted mb-0">어렵게 생각하지 마세요. 직관적인 인터페이스로 누구나 쉽게 사용할 수 있습니다.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Portfolio-->
<div id="portfolio">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="assets/img/portfolio/fullsize/1.jpg" title="Project Name">
                    <img class="img-fluid" src="assets/img/portfolio/thumbnails/1.jpg" alt="..."/>
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Project Name</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="assets/img/portfolio/fullsize/2.jpg" title="Project Name">
                    <img class="img-fluid" src="assets/img/portfolio/thumbnails/2.jpg" alt="..."/>
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Project Name</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="assets/img/portfolio/fullsize/3.jpg" title="Project Name">
                    <img class="img-fluid" src="assets/img/portfolio/thumbnails/3.jpg" alt="..."/>
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Project Name</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="assets/img/portfolio/fullsize/4.jpg" title="Project Name">
                    <img class="img-fluid" src="assets/img/portfolio/thumbnails/4.jpg" alt="..."/>
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Project Name</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="assets/img/portfolio/fullsize/5.jpg" title="Project Name">
                    <img class="img-fluid" src="assets/img/portfolio/thumbnails/5.jpg" alt="..."/>
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Project Name</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="assets/img/portfolio/fullsize/6.jpg" title="Project Name">
                    <img class="img-fluid" src="assets/img/portfolio/thumbnails/6.jpg" alt="..."/>
                    <div class="portfolio-box-caption p-3">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Project Name</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Contact-->
<section class="page-section" id="contact">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 col-xl-6 text-center">
                <h2 class="mt-0">편하게 문의하세요!</h2>
                <hr class="divider"/>
                <p class="text-muted mb-5">URL 단축 서비스에 대해 궁금한 점이 있으시면 연락해 주세요.</p>
            </div>
        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
            <div class="col-lg-6">
                <!-- * * * * * * * * * * * * * * *-->
                <!-- * * SB Forms Contact Form * *-->
                <!-- * * * * * * * * * * * * * * *-->
                <!-- This form is pre-integrated with SB Forms.-->
                <!-- To make this form functional, sign up at-->
                <!-- https://startbootstrap.com/solution/contact-forms-->
                <!-- to get an API token!-->
                <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                    <!-- Name input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="name" type="text" placeholder="Enter your name..."
                               data-sb-validations="required"/>
                        <label for="name">닉네임</label>
                        <div class="invalid-feedback" data-sb-feedback="name:required">닉네임은 필수 값입니다.</div>
                    </div>
                    <!-- Email address input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="email" type="email" placeholder="name@example.com"
                               data-sb-validations="required,email"/>
                        <label for="email">이메일</label>
                        <div class="invalid-feedback" data-sb-feedback="email:required">이메일은 필수 값입니다.</div>
                        <div class="invalid-feedback" data-sb-feedback="email:email">이메일 값이 유효하지 않습니다.</div>
                    </div>
                    <!-- Phone number input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="phone" type="tel" placeholder="010-XXXX-XXXX"
                               data-sb-validations="required"/>
                        <label for="phone">전화번호</label>
                        <div class="invalid-feedback" data-sb-feedback="phone:required">전화번호는 필수 값입니다.
                        </div>
                    </div>
                    <!-- Message input-->
                    <div class="form-floating mb-3">
                        <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..."
                                  style="height: 10rem" data-sb-validations="required"></textarea>
                        <label for="message">문의사항</label>
                        <div class="invalid-feedback" data-sb-feedback="message:required">문의사항은 필수 값입니다.</div>
                    </div>
                    <!-- Submit success message-->
                    <!---->
                    <!-- This is what your users will see when the form-->
                    <!-- has successfully submitted-->
                    <div class="d-none" id="submitSuccessMessage">
                        <div class="text-center mb-3">
                            <div class="fw-bolder">문의사항이 성공적으로 접수되었습니다!</div>
                            빠른 시일내로 확인하고 답변드리겠습니다.
                            <br/>
                            <a href="https://startbootstrap.com/solution/contact-forms">카카오톡 문의하기</a>
                        </div>
                    </div>
                    <!-- Submit error message-->
                    <!---->
                    <!-- This is what your users will see when there is-->
                    <!-- an error submitting the form-->
                    <div class="d-none" id="submitErrorMessage">
                        <div class="text-center text-danger mb-3">Error sending message!</div>
                    </div>
                    <!-- Submit Button-->
                    <div class="d-grid">
                        <button class="btn btn-primary btn-xl disabled" id="submitButton" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
<!--        <div class="row gx-4 gx-lg-5 justify-content-center">-->
<!--            <div class="col-lg-4 text-center mb-5 mb-lg-0">-->
<!--                <i class="bi-phone fs-2 mb-3 text-muted"></i>-->
<!--                <div>+1 (555) 123-4567</div>-->
<!--            </div>-->
<!--        </div>-->
    </div>
</section>
<!-- Footer-->
<footer class="bg-light py-5">
    <div class="container px-4 px-lg-5">
        <div class="text-center row">
            <!-- 회사 정보 -->
            <div class="col-md-4">
                <h5>회사 정보</h5>
                <p>회사 이름: POJAY Co., Ltd.</p>
                <p>주소: 서울특별시 은평구 통일로 863-4 5층</p>
                <p>연락처: +82-010-2378-9694</p>
            </div>

            <!-- 소셜 미디어 -->
            <div class="col-md-4">
                <h5>소셜 미디어</h5>
                <ul class="list-unstyled">
                    <li><a href="#">페이스북</a></li>
                    <li><a href="#">트위터</a></li>
                    <li><a href="#">인스타그램</a></li>
                    <li><a href="#">유튜브</a></li>
                </ul>
            </div>

            <!-- 서비스 메뉴 -->
            <div class="col-md-4">
                <h5>서비스 메뉴</h5>
                <ul class="list-unstyled">
                    <li><a href="#">개인 정보 보호 정책</a></li>
                    <li><a href="#">이용 약관</a></li>
                    <li><a href="#">고객 센터</a></li>
                </ul>
            </div>
        </div>

        <div class="small text-center text-muted mt-4">Copyright &copy; 2024 - POJAY Co., Ltd.</div>
    </div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- SimpleLightbox plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>


<script>
  function isValidURL(url) {
    const pattern = new RegExp('^(https?:\\/\\/)?' + // http 또는 https
      '(([\\da-z\\.-]+)\\.([a-z\\.]{2,6})' + // 도메인 이름
      '(\\/\\S*)?)$', 'i'); // 경로 및 기타
    return pattern.test(url);
  }

  function submitUrlForm() {
    const invalidFeedback = document.getElementById("invalidFeedback");
    let urlFormData = new FormData(document.getElementById("urlForm"));
    let urlValue = urlFormData.get("url");

    if (!isValidURL(urlValue)) {
      invalidFeedback.style.display = 'block';
      return;
    } else {
      invalidFeedback.style.display = 'none';
    }

    // 기존 "Shorten URL" 버튼을 복사하기 버튼으로 전환
    let shortenButton = document.querySelector("#urlForm input[type='button']");
    shortenButton.disabled = true;  // 버튼 비활성화

    fetch('/api/url', {
      method: 'POST',
      body: urlFormData
    })
      .then(response => response.text())
      .then(data => {
        let urlInput = document.getElementById("url");

        // 결과 URL을 input 필드에 표시
        urlInput.value = data;

        // 복사하기 버튼으로 변환
        shortenButton.value = '복사하기';  // 버튼 텍스트 변경
        shortenButton.onclick = function () {  // 복사 이벤트 추가
          navigator.clipboard.writeText(data)
            .then(() => {
              alert('URL이 복사되었습니다.');
              shortenButton.onclick = submitUrlForm; // 기존 버튼으로 변경
              shortenButton.value = 'Shorten URL';  // 버튼 텍스트 기존 버튼으로 변경
              urlInput.value = '';  // input 필드 비우기
            })
            .catch(err => alert('복사 실패: ' + err));
        };

        shortenButton.disabled = false;  // 버튼 활성화
      })
      .catch(error => {
        console.error('Error:', error);
        shortenButton.disabled = false;  // 버튼 활성화
      });
  }
</script>


</html>
