<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>POJAY - URL 단축 서비스</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
    <!-- Bootstrap Icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic"
          rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <!-- SimpleLightbox plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../css/styles.css" rel="stylesheet"/>
</head>

<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="../#">
            <!--                    <img src="assets/favicon.ico" alt="POJAY Icon">-->
            POJAY
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto my-2 my-lg-0">
                <li class="nav-item"><a class="nav-link" href="../#about">About</a></li>
                <li class="nav-item"><a class="nav-link" href="../#services">Services</a></li>
                <li class="nav-item"><a class="nav-link" href="../#portfolio">Portfolio</a></li>
                <li class="nav-item"><a class="nav-link" href="../#contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- Masthead Section with Privacy Policy -->
<header class="masthead">
    <div class="container px-4 px-lg-5" style="background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%)">
        <h2 class="text-center text-light">이용 약관</h2>
        <p class="text-light">최종 업데이트: 2024년 4월 30일</p>

        <h3 class="text-light">소개</h3>
        <p class="text-light">
            pojay.com에 오신 것을 환영합니다! 저희 웹사이트와 다양한 웹 앱 서비스에 접근하거나 이를 사용함으로써 본 이용 약관 및 개인정보보호정책에 동의하게 됩니다. 이 약관은 우리의 서비스에 대한 귀하의 접근 및 사용을 규율합니다.
        </p>

        <h3 class="text-light">지적재산권</h3>
        <p class="text-light">
            pojay.com의 모든 콘텐츠, 웹 앱, 텍스트, 그래픽, 이미지, 소프트웨어를 포함하여 제한되지 않습니다. 이는 모두 지적 재산법에 의해 보호됩니다. 스크린샷이나 실시간 스트리밍과 같은 귀하의 작업에서 우리의 콘텐츠를 사용, 공유, 표시할 수 있는 권한이 부여되며, 이는 상업적 용도를 포함합니다. 단, 콘텐츠 출처를 pojay.com으로 명확히 표시해야 합니다. 승인이나 제휴를 나타내는 사용은 우리의 명시적인 서면 동의가 필요합니다.
        </p>

        <h3 class="text-light">정확성 및 책임 배제</h3>
        <p class="text-light">
            저희의 서비스는 일반적인 정보 제공 및 엔터테인먼트 목적으로 제공됩니다. 우리는 정확성을 위해 노력하지만, 우리의 콘텐츠 및 서비스의 완전성, 신뢰성, 또는 가용성을 보장하지 않습니다. pojay.com에서 제공하는 어떠한 정보에 대한 의존은 전적으로 귀하의 책임입니다.
        </p>

        <h3 class="text-light">외부 링크 및 제3자 콘텐츠</h3>
        <p class="text-light">
            저희는 저희의 통제 아래 있지 않은 제3자 사이트로의 링크를 제공할 수 있으며, 그들의 콘텐츠나 행동에 대해 책임지지 않습니다. 이러한 링크는 승인을 의미하지 않습니다.
        </p>

        <h3 class="text-light">사용자 행동</h3>
        <p class="text-light">
            귀하는 저희 웹사이트를 윤리적이고 합법적으로 사용할 것에 동의하며, 저희 서비스 또는 다른 사용자에게 해를 끼치는 어떠한 활동도 삼가할 것에 동의합니다.
        </p>

        <h3 class="text-light">서비스 가용성</h3>
        <p class="text-light">
            저희는 지속적인 서비스 가용성을 목표로 하지만, 중단이 발생할 수 있습니다. 저희는 어떠한 서비스 중단에 대해서도 책임지지 않습니다.
        </p>

        <h3 class="text-light">수정</h3>
        <p class="text-light">
            저희는 언제든지 이 약관을 수정할 권리를 보유하고 있으며, 사용자에게 웹사이트 또는 이메일을 통해 알립니다. 변경 후 계속해서 사용하는 것은 새로운 약관을 수락하는 것으로 간주됩니다.
        </p>

        <h3 class="text-light">적용 법률 및 관할권</h3>
        <p class="text-light">
            이 약관은 저희 회사가 본사를 두고 있는 지역의 법률에 의해 규율됩니다. 분쟁은 현지 법원에서 해결될 것이며, 필요한 경우 저희는 다른 곳에서 법적 조치를 취할 권리를 보유하고 있습니다.
        </p>

        <h3 class="text-light">분쟁 해결</h3>
        <p class="text-light">
            분쟁이 발생한 경우, 먼저 저희에게 연락하여 해결을 추구하는 것을 권장합니다. 만약 해결이 불가능한 경우, 분쟁은 양 당사자가 동의하는 대로 중재에 제출될 수 있습니다.
        </p>

        <h3 class="text-light">책임 제한</h3>
        <p class="text-light">
            법률이 허용하는 최대한도 내에서, pojay.com은 서비스 이용으로 인한 간접적, 우발적, 또는 결과적 손해에 대해 책임을 지지 않습니다.
        </p>

        <h3 class="text-light">면책</h3>
        <p class="text-light">
            귀하는 이 약관의 위반 또는 서비스 사용으로 인해 발생하는 어떠한 청구, 손해, 또는 비용에 대해 pojay.com과 그 직원들을 면책시킬 것에 동의합니다.
        </p>

        <h3 class="text-light">연락처</h3>
        <p class="text-light">
            이용 약관 또는 저희 서비스에 관한 질문이나 문제가 있으시면, <a href="https://open.kakao.com/o/ssi863og">여기</a>를 클릭하여 연락해 주세요.
        </p>
    </div>
</header>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- SimpleLightbox plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
<!-- Core theme JS-->
<script src="../js/scripts.js"></script>
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>