<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>단축 URL - CACA </title>
</head>
<body>

<h2>링크 단축</h2>

<form id="urlForm">
    <label for="url">줄이고 싶은 URL</label><br>
    <input type="text" id="url" name="url"><br>
    <input type="button" value="Shorten URL" onclick="submitForm()">
</form>

<div id="result"></div>

<script>
  function submitForm() {
    let urlFormData = new FormData(document.getElementById("urlForm"));

    fetch('/url', {
      method: 'POST',
      body: urlFormData
    })
      .then(response => response.text())
      .then(data => {
        document.getElementById("result").innerHTML = data;
        // 복사 버튼 생성
        let copyButton = document.createElement('button');
        copyButton.innerText = '복사하기';
        copyButton.addEventListener('click', function() {
          // 결과 텍스트를 클립보드에 복사
          navigator.clipboard.writeText(data)
            .then(() => alert('URL이 복사되었습니다.'))
            .catch(err => console.error('복사 실패: ', err));
        });
        document.getElementById("result").appendChild(copyButton);
      })
      .catch(error => {
        console.error('Error:', error);
      });
  }
</script>

</body>
</html>
