<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form 데이터 처리 예제</title>
</head>
<body>

<h2>데이터를 전송할 폼</h2>

<form id="urlForm">
    <label for="url">URL</label><br>
    <input type="text" id="url" name="url"><br>
    <input type="button" value="제출" onclick="submitForm()">
</form>

<div id="result"></div>

<script>
  function submitForm() {
    let urlFormData = new FormData(document.getElementById("urlForm"));

    fetch('/url', {
      method: 'POST',
      body: urlFormData
    })
      .then(response => response.text())
      .then(data => {
        document.getElementById("result").innerHTML = data;
      })
      .catch(error => {
        console.error('Error:', error);
      });
  }
</script>

</body>
</html>
